h1, h2 {
	text-align: center;
}

h2 {
	margin: 0;
}

td {
	border: 1px solid;
}

#solutionContainer, div.white-cover, div.alert, img.center {
	display: none;
}

.center {
 	z-index: 2;
 	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

div.white-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	z-index: 1;
}

div.alert {
	max-width: 500px;
	background: rgb(202, 60, 60);
	color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid white;
	margin: 5px auto;
	padding: 15px 0 15px 0;
}

td input {
	width: 35px;
	height: 35px;
	text-align: center;
	font-weight: bolder;
	font-style: italic;
}

.pre-chosen-numbers {
	font-weight: bolder;
	font-style: italic;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#solutionContainer {
	text-align: center;
	margin-top: 40px;
	border-top: 1px solid black;
	padding-top: 20px;
}

table#solution {
	width: 365px;
	height: 383px;
	margin-bottom: 20px;
}

table#solution td {
	width: 41px;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	border: 2px solid black;
}

.big-border-bottom {
	border-bottom: 2px solid black;
}

.big-border-right {
	border-right: 2px solid black;
}

#buttonSolve {
	padding-top: 20px;
	text-align: center;
}

button.pure-button {
	padding-right: 10px;
}

button.pure-button-error {
    background: rgb(202, 60, 60);
    color: white;
}
