h1 {
	text-align: center;
}

td {
	border: 1px solid;
}

td input {
	width: 35px;
	height: 35px;
	text-align: right;
	font-weight: bolder;
	font-style: italic;
}

table {
	border-collapse: collapse;
	width: 300px;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid black;
}

.big-border-bottom {
	border-bottom: 2px solid black;
}

.big-border-right {
	border-right: 2px solid black;
}

#buttonSolve {
	padding-top: 20px;
	text-align: center;
}

button.pure-button {
	padding-right: 10px;
}